<nav>
  <ul>
    <li>
      <%= link_to "Edit", edit_animal_path %>
    </li>
    <li>
      <%= link_to "Delete", animal_path(@animal.id), method: :delete%>
    </li>
  </ul>
</nav>


<h2><%= @animal.name%></h2>
<% if !@animal.image.nil? %>
<%= image_tag @animal.image, alt: @animal.name %>
<% end %>
<p>
  species: <%= @animal.species %> <br />
  age: <%= @animal.age %>
</p>
