<!DOCTYPE html>
<html>
<head>
  <title>RailsZoo</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <%= link_to "Home", animals_path %>
          </li>
          <li>
          <%= button_to "Add", new_animal_path, method: :get %>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>

  <footer>
    <div>Copyright © 2018</div>
  </footer>

</body>
</html>
